{% extends('base.html.twig')  %}

{% block title%}{{ 'update.Edit city'|trans({}, 'city')}}{% endblock %}

{% block body%}
    <h1>{{ 'update.Edit city'|trans({}, 'city')}}</h1>
    {{ form(form) }}
{% endblock %}